.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
    list-style: none;
    padding: bottom 10px;
  }
  .nav-link-text {
    color: gray;
    text-decoration: none;
    padding:  10px;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }